.flashy {
  color: red;
  font-style: italic;
}

.best {
  font-weight: bold;
  font-family: impact;
  color: blue;
}

footer.worst {
  font-family: garamond;
  clear: left;
}

.cupcake-type {
  color: brown;
  font-size: 24px;
  font-style: oblique;
  font-family: Arial;
}

.navbar li {
  font-size: 22px;
  text-decoration: underline;
  color: red;
  font-style: italic;
  display: inline;
  
}

.image {
  float: left;
}
.sidebar {
  background-color: purple;
  color: yellow;
  width: 15%;
}

.columns {
  width: 300px;
  float: left;
}
